In [14]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.54)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)

In [15]:
import numpy as np
import pandas as pd
import yfinance

In [16]:
ticker = yfinance.Ticker("FB")
df = ticker.history(interval="1d")

In [20]:
df

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-08-31  293.95  296.88  291.55  293.20  17345100          0             0
2020-09-01  294.71  301.49  292.71  295.44  17320900          0             0
2020-09-02  298.88  303.60  293.05  302.50  24341400          0             0
2020-09-03  295.99  297.60  283.63  291.12  32294100          0             0
2020-09-04  287.25  289.00  271.14  282.73  30333700          0             0
2020-09-08  271.28  279.30  269.42  271.16  24864000          0             0
2020-09-09  275.77  278.48  271.35  273.72  22918800          0             0
2020-09-10  275.51  279.16  267.03  268.09  24814700          0             0
2020-09-11  270.06  271.39  262.64  266.61  18913900          0             0
2020-09-14  270.95  276.64  265.70  266.15  24093800          0             0
2020-09-15  270.67  274.52  269.30  272.42  18478500          0             0
2020-09-16  267.29  272.44  261.79  263.52  29183400          0             0
2020-09-17  258.28  261.50  250.19  254.82  31281400          0             0
2020-09-18  258.40  259.20  250.05  252.53  28130800          0             0
2020-09-21  247.54  249.95  244.13  248.15  24709400          0             0
2020-09-22  253.31  255.32  248.22  254.75  30293100          0             0
2020-09-23  255.26  257.99  248.15  249.02  19641300          0             0
2020-09-24  246.50  252.24  245.62  249.53  20006800          0             0
2020-09-25  249.40  255.75  246.61  254.82  18351300          0             0
2020-09-28  259.40  259.60  254.82  256.82  18807800          0             0

In [17]:
last_day = df.tail(1).copy()

https://www.tradingview.com/support/solutions/43000521824-pivot-points-standard/

In [21]:
last_day['Pivot'] = (last_day['High'] + last_day['Low'] + last_day['Close'])/3
last_day['R1'] = 2*last_day['Pivot'] - last_day['Low']
last_day['S1'] = 2*last_day['Pivot'] - last_day['High']
last_day['R2'] = last_day['Pivot'] + (last_day['High'] - last_day['Low'])
last_day['S2'] = last_day['Pivot'] - (last_day['High'] - last_day['Low'])
last_day['R3'] = last_day['Pivot'] + 2*(last_day['High'] - last_day['Low'])
last_day['S3'] = last_day['Pivot'] - 2*(last_day['High'] - last_day['Low'])

In [22]:
last_day

             Open   High     Low   Close  ...      R2     S2      R3      S3
Date                                      ...
2020-09-28  259.4  259.6  254.82  256.82  ...  261.86  252.3  266.64  247.52

[1 rows x 14 columns]